<main>
  <h4>Task 3: Practicing Directives</h4>
  <p>taks3 works!</p>
  <ol>
    <li>Add A button which says 'Display Details'</li>
    <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
    <li>Toggle the displaying of that paragraph with the button created in the first step</li>
    <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or
      simply an incrementing number)</li>
    <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
      (ngClass)</li>
  </ol>
  <hr>
  <h4>Answer</h4>
  <p>See the code files to understand this answer.</p>
  <button class="btn btn-primary" (click)="show()">{{ buttonContent }}</button>
  <p *ngIf="display">Password: Embraer2022</p>
  <p
    *ngFor="let dateLog of log; let indexDateLog = index"
    [ngStyle]="{backgroundColor: indexDateLog >= 4 ? 'blue' : 'transparent'}"
    [ngClass]="{'do-white': indexDateLog >=4 }"
  >{{ dateLog[1] }} - {{ dateLog[2] }}</p>

</main>
