<main>
  <h4>Task 1 - Practicing Components</h4>
  <p>task1 works!</p>
  <p>Time to practice what you learned about Components. In this assignment, you're going to create, use and style your
    own components and see practice how you can build up your Angular app with Components.</p>

  <p>The server component was created by CLI.</p>

  <p>The warning alert and success alert below come from warning-alert and success-alert folder.</p>

  <warning-alert></warning-alert>
  <success-alert></success-alert>
</main>
