<main>
  <h4>Lecture 28 - Property Binding</h4>
  <p>lecture28 works!</p>
  <button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button>
  <p>Refresh page and see that button stay disable to 2 seconds and after stay to be anable</p>
  <p>See the code file lecture28.component.html to understand this!!!</p>
  <p>Here was used a arrow function on the method of constructor to change 'false' to 'true' on the
  atribute allowNewServer after page was reloaded. See the code file server.component.ts to understand this.
</p>
</main>
